@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 40%;
}

body {
  padding: 1rem;
}

.row {
  row-gap: 2rem;
  transform: translateY(100px);
  opacity: 0;
  transition: 200ms;
}

.section-homepage {
  height: 80vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 1rem 2rem;
  color: black;
}

.menu-icon img {
  width: 3.6rem;
  height: auto;
}

.nav-logo {
  font-size: 4rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.nav-list {
  display: none;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}

.nav-list li {
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.img-hero {
  width: 80%;
  height: auto;
  animation-name: slide-in-from-bottom;
  animation-duration: 1s;
}

h2 {
  font-size: 4.5rem;
  font-weight: 700;
  transform: translateY(100px);
  opacity: 0;
  transition: 200ms;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

h3 span {
  color: purple;
  font-size: 3.5rem;
}

p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.text-bold {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

h4 span {
  font-size: 2.5rem;
  color: purple;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

h5 span {
  font-size: 2rem;
  font-weight: 700;
}
.text-bold span {
  font-size: 4rem;
  font-weight: 700;
  color: purple;
  margin-right: 10px;
}

.text-contract {
  width: fit-content;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  margin-bottom: 30px;
}

.btn-hero {
  padding: 1rem 3rem;
  background-color: purple;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 30px;
}

.hero-text-box {
  animation-name: slide-in-from-left;
  animation-duration: 2s;
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-600px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translatey(600px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.section-partners {
  padding: 2rem 0;
  background-color: rgb(228, 228, 228);
  filter: opacity(40%);
}

.icon-partner {
  width: 100px;
}

.section-about {
  padding: 10rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.img-wrapper {
  width: 80%;
}

.btn-section {
  padding: 1rem 3rem;
  border: none;
  background-color: purple;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  border-radius: 0.6rem;
  margin-top: 3rem;
}

.section-tokenomics {
  padding: 10rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.card-tokenomics {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-buy {
  padding: 10rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.img-app {
  width: 20rem;
}

footer {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-media-box {
  display: flex;
  flex-direction: row;
}

.icon-socialmedia {
  height: 3rem;
  width: auto;
  margin-left: 3rem;
}

quote {
  font-size: 1.3rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 40%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }
  .nav-list {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
